
html {
    background-color: #0476f2;
}

header {
    background-color: #0476f2;
    margin-bottom: -.5em;
}

main {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

h1 {
    color: crimson;
}

h1 span {
    background-color: #FFFF00;
    border-radius: 4px;
    border: 3px solid crimson;
}

#navBarColor {
    background: #FFFF00;
    border: 3px solid crimson;
}

#redCl {
    background-color: crimson;
}
/*
#toolbar ul {
    list-style-type: none;
}

#toolbar ul li {
    float: left;
}

#toolbar ul li a {
    display: block;
    width: 160px;
    text-align: center;
    background-color: #FFFF00;
    padding: 1em 0;
    text-decoration: none;
    color: crimson;
    font-weight: bold;

}

#toolbar ul ul {
    display: none;
    position: absolute;
    top: 100%;

}

#toolbar ul ul li {
    float: none;
}

#toolbar ul li:hover > ul {
    display: block;
}

#toolbar > ul::after {
    content: "";
    clear: both;
    display: block;
}

*/

/* Main Page Style */

#dcWorlds {
    margin: auto;
    border: 3px solid crimson;
}

#dc {
    border: 3px solid crimson;
    margin: auto;

}

#mult {
    border: 2px solid crimson;
    margin: auto;
}


#textP {
    text-indent: 47px;
    color: crimson;
    font-weight: bold;
}

#textH {
    color: crimson;
    text-decoration: underline;
}


/* Contact Page Style */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #FFFF00;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit] {
    background-color: #0476f2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: crimson;
}


.container {
    border-radius: 5px;
    background-color: #FFFF00;
    padding: 20px;
}
#conC {
    color: crimson;
    font-weight: bold;
}
/* Review Page Style */
#crit {
    margin: auto;
}

footer {
    width: 100%;
    background-color: #FFFF00;
    clear: both;
    position: absolute;
    margin-bottom: -2em;
    border: 3px solid crimson;
}

footer p {
    text-align: center;
    color: crimson;
    font-weight: bold;

}
