h1 span {
    background-color: blue;
}

#toolbar ul {
    list-style-type: none;
    position: relative;
}

#toolbar ul li {
    float: left;
}

#toolbar ul li a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    width: 170px;
    display: block;
}

footer p {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
