h1 span {
    background-color: blue;
}

#toolbar {
    list-style-type: none;
    position: relative;
}

#toolbar li {
    float: left;
}

#toolbar li a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    width: 160px;
    display: block;
}

footer p {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
